<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}
    
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/atom+xml" title="aajkakavi" href="/feed.xml">
    <link rel="icon" type="image/svg" href="https://raw.githubusercontent.com/TheSidhantGoyal/thesidhantgoyal.github.io/master/images/logo.svg"/>
</head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

      <div class="site-info">
        <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
        <p class="site-description">{{ site.description }}</p>
      </div>
    
      <nav>
        <a href="{{ site.baseurl }}/poets">कवि </a>
        <a href="{{ site.baseurl }}/submit">कविता भेजें</a>
      </nav>
    </header>
  </div>
</div>

<div id="main" role="main" class="container">
  {{ content }}
</div>
<div class="wrapper-footer">
  <div class="container">
    <footer class="footer">
     <a href = "https://twitter.com/theaajkakavi"> <img src="/images/tw.svg" alt="Twitter" height="30" width="30"></a>
<a href="mailto:contact@aajkakavi.in"><img src="/images/email.svg" alt="email" height="30" width="30"></a>
<br>
 <a href="{{ site.baseurl }}/privacy">निजता</a>
 <br><br>
      हर महीने <b>15 और 30</b> को एक नई कविता
</footer>
  </div>
</div>

</body>
</html>

